.playlistsNav ul{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.401);
}

.playlistsNav h2 {
    font-size: 2rem;
    margin-top: 25px;
    margin-bottom: 15px;
}

.playlistsNav h3 {
    position: absolute;
    right: 40px;
    top: 37px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0 5px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: border 0.5s, color 0.5s;
}

.playlistsNav h3:hover {
    color: #ef233c;
    border: 2px solid #ef233c;
    transition: border 0.5s, color 0.5s;
}

.playlistsNav h3:active {
    color: #a71829;
    border: 2px solid #a71829;
    transition: border 0s, color 0s;
}


.playlistsNav {
    display: flex;
    flex-direction: column;
    user-select: none;
    align-items: center;

}

.playlistsNav li {
    font-size: 1.2rem;
    padding: 5px 61px;
    cursor: pointer;
}

.navLi {
    border-bottom: 3px solid #00000000;
    transition: background-color 0.5s, border-bottom 0.5s;
}

.navLi:hover {
    background-color: #212121;
    border-bottom: 3px solid white;
    transition: background-color 0.5s, border-bottom 0.5s;
}

.selectedLi {
    background-color: #212121;
    border-bottom: 3px solid #ef233c;
    transition: background-color 0.5s, border-bottom 0.5s;
}